:host {
  ::ng-deep {
    .ui-panel {
      background-color: red;
      .ui-panel-titlebar {
        border: none;

        .company-details {
          margin-bottom: 16px;
        }
      }

      .ui-panel-content {
        border: none;
      }
    }

    agm-map {
      height: 400px;
      width: 600px;
    }

    a {
      cursor: pointer;
    }

    .ui-table {
      .ui-table-thead {
        tr {
          th {
            border: none;
          }
          :first-child {
            border-top-left-radius: 8px;
            // border-bottom-left-radius: 8px;
            // border-top: 1px solid #c8c8c8;
            // border-left: 1px solid #c8c8c8;
          }
          :last-child {
            // border-bottom-right-radius: 8px;
            // border-top: 1px solid #c8c8c8;
            // border-right: 1px solid #c8c8c8;
            border-top-right-radius: 8px;
          }
        }
      }
      .ui-table-tbody {
        margin: 8px;
        tr {
          border-bottom: 1px solid #c8c8c8;
          td {
            border: none;
            background: #fff;
          }
        }
      }

      .ui-paginator-bottom {
        border: none;
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
      }
    }
  }
}
