<button
  pButton
  label="New Company"
  type="button"
  icon="pi pi-plus"
  iconPos="left"
  class="ui-button-raised"
  (click)="show()"
></button>
<!-- <fa name="cog" animation="spin"></fa> -->

<p-table
  [value]="companies | async"
  [paginator]="true"
  [rows]="10"
  [(contextMenuSelection)]="rowSelected"
  [contextMenu]="cm"
  [autoLayout]="true"
>
  <ng-template pTemplate="header">
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Map View</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-company>
    <tr [pContextMenuRow]="company">
      <td>
        <a [routerLink]="['detail', company.cId]" [state]="{ data: company }">{{
          company.name
        }}</a>
      </td>
      <td>
        {{
          company.address[0].doorNo +
            " " +
            company.address[0].streetName +
            " " +
            company.address[0].city +
            " " +
            company.address[0].pincode +
            " " +
            company.address[0].state +
            " " +
            company.address[0].country
        }}
      </td>
      <td align="center">
        <!-- <button pButton label="view" (click)="showmap(company)"></button> -->
        <i
          class="fa fa-map-marker"
          aria-hidden="true"
          (click)="showmap(company)"
        ></i>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-contextMenu #cm [model]="rowActions"></p-contextMenu>

<p-dialog
  header="Location"
  [(visible)]="displayMapModal"
  [resizable]="false"
  [modal]="true"
  [draggable]="false"
>
  <agm-map [latitude]="latitude" [longitude]="longitude">
    <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
  </agm-map>
</p-dialog>
